@model Player

@{
    ViewData["Title"] = "Edit";
}

<div class="text-center mt-4 mb-4">
    <h4>Edit @Model.FullName</h4>
</div>
<hr/>
<div class="container d-flex flex-column justify-content-center align-items-center">
    <form asp-action="Edit">
        <article>
            <h5>Set player's details</h5>
            <p>
                In this section you can set the details for the player.
                <br/>About information.
            </p>
        </article>
        <hr class="w-50 mx-auto">
        <div id="personal-information">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control"/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control"/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label"></label>
                <input id="birthday-value" type="date" asp-for="Birthday" class="form-control" min="1900-01-01" max="2050-12-31"/>
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input id="age-value" asp-for="Age" class="form-control"/>
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nationality" class="control-label"></label>
                <select asp-for="Nationality" asp-items="@PlayerFunctions.GetNationalitiesSelectList()" class="form-control">
                    <option value="">-- select one --</option>
                </select>
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group d-flex align-items-center justify-content-around">
            <a class="btn btn-primary mt-2 mb-2" href="#attributecontainer">Next</a>
            <input type="submit" value="Finish" class="btn btn-success"/>
        </div>

        <hr>
        <article>
            <h5>Set skills</h5>
            <p>
                In this section you can set the attributes for the player.<br/>The value could be between 0 and 100.
                <br/>
                100 the best value of a skill. <i class="text-muted">For example: if a player's Dribbling skill is 95 that means he is master of dribbling.</i>
            </p>
        </article>
        <hr class="w-50 mx-auto">
        <div class="form-group range-group" id="attributecontainer">
            <h4>
                <label asp-for="Attribute.Dribbling" class="control-label attribute-title"></label>
            </h4>
            <input type="range" asp-for="Attribute.Dribbling" class="form-range" value="@(Model?.Attribute?.Dribbling ?? 50)" step="1" max="100" min="1"/>
            <span asp-validation-for="Attribute.Dribbling" class="text-danger"></span>
        </div>
        <div class="form-group range-group">
            <h4>
                <label asp-for="Attribute.Passing" class="control-label attribute-title"></label>
            </h4>
            <input type="range" asp-for="Attribute.Passing" class="form-range" value="@(Model?.Attribute?.Passing ?? 50)" step="1" max="100" min="1"/>
            <span asp-validation-for="Attribute.Passing" class="text-danger"></span>
        </div>
        <div class="form-group range-group">
            <h4>
                <label asp-for="Attribute.Juggling" class="control-label attribute-title"></label>
            </h4>
            <input type="range" asp-for="Attribute.Juggling" class="form-range" value="@(Model?.Attribute?.Juggling ?? 50)" step="1" max="100" min="1"/>
            <span asp-validation-for="Attribute.Juggling" class="text-danger"></span>
        </div>
        <div class="form-group range-group">
            <h4>
                <label asp-for="Attribute.Shooting" class="control-label attribute-title"></label>
            </h4>
            <input type="range" asp-for="Attribute.Shooting" class="form-range" value="@(Model?.Attribute?.Shooting ?? 50)" step="1" max="100" min="1"/>
            <span asp-validation-for="Attribute.Shooting" class="text-danger"></span>
        </div>
        <div class="form-group range-group">
            <h4>
                <label asp-for="Attribute.Tackling" class="control-label attribute-title"></label>
            </h4>
            <input type="range" asp-for="Attribute.Tackling" class="form-range" value="@(Model?.Attribute?.Tackling ?? 50)" step="1" max="100" min="1"/>
            <span asp-validation-for="Attribute.Tackling" class="text-danger"></span>
        </div>
        <div class="form-group range-group">
            <h4>
                <label asp-for="Attribute.Reaction" class="control-label attribute-title"></label>
            </h4>
            <input type="range" asp-for="Attribute.Reaction" class="form-range" value="@(Model?.Attribute?.Reaction ?? 50)" step="1" max="100" min="1"/>
            <span asp-validation-for="Attribute.Reaction" class="text-danger"></span>
        </div>
        <div class="form-group range-group">
            <h4>
                <label asp-for="Attribute.Vision" class="control-label attribute-title"></label>
            </h4>
            <input type="range" asp-for="Attribute.Vision" class="form-range" value="@(Model?.Attribute?.Vision ?? 50)" step="1" max="100" min="1"/>
            <span asp-validation-for="Attribute.Vision" class="text-danger"></span>
        </div>
        <div class="form-group range-group">
            <h4>
                <label asp-for="Attribute.Positioning" class="control-label attribute-title"></label>
            </h4>
            <input type="range" asp-for="Attribute.Positioning" class="form-range" value="@(Model?.Attribute?.Positioning ?? 50)" step="1" max="100" min="1"/>
            <span asp-validation-for="Attribute.Positioning" class="text-danger"></span>
        </div>

        <div class="form-group text-center">
            <a class="btn btn-primary mt-2 mb-2" href="#positionscontainer" id="attributesclicker">Next</a>
        </div>

        <hr>
        <article>
            <h5>Set position on the field</h5>
            <p>
                In this section you can set the position for the player.
                <br/>Which is the best position for the player on field.
                <br/>
                <i class="text-muted">For example: if the player has the ability to dribble and shoot then he is probably a winger.</i>
            </p>
        </article>
        <hr class="w-50 mx-auto">
        <div class="form-group" id="positionscontainer">
            @if (ViewBag.Positions != null)
            {
                @foreach (var pos in ViewBag.Positions)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="PositionId" value="@pos.Id" id="@pos.Pos">
                        <label class="form-check-label" asp-for="PositionId" for="@pos.Pos">
                            <h5>@pos.Pos</h5>
                        </label>
                    </div>
                }
            }
        </div>

        <hr>

        <div class="form-group text-center">
            <input type="submit" value="Finish" class="btn btn-success btn-lg m-4"/> |
            <a asp-action="Index" class="btn btn-outline-primary btn-lg m-4">Back to List</a>
        </div>
    </form>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
    $("#birthday-value").change(function (){
           let date = new Date($('#birthday-value').val());
           let year = date.getFullYear();
           let cyear = new Date().getFullYear();
           let age = cyear - year;
           $("#age-value").val(age);
        });
    </script>
    <script>
    $(".range-group").each(function (){
        let title = $(this).find(".attribute-title");
        let titleText = title.text();
        let defaultTitle = title.text()+" - "+$(this).find(".form-range").val();
        title.text(defaultTitle);
        $(this).find(".form-range").change(function (){
                $(this).parent().find(".attribute-title").text(titleText+" - "+$(this).val());
            });
        });    
    </script>
}