@model IEnumerable<Team>

<h5 class="d-flex justify-content-end">Total items: @Model.Count()</h5>

@foreach (var team in Model)
{
    <div class="row">
        <div class="col-6">
            <div class="card" style="max-width: 25rem;">
                <img src="@("~/uploads/teams/logos/"+team.LogoPath)" asp-append-version="true" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">@team.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@team.City</h6>
                    @if (team.Players.Count == 0)
                    {
                        <div class="card-text">
                            <p>Team is lack of players.</p>
                        </div>
                    }
                    else
                    {
                        <div class="card-text">
                            <p>Total players count: @team.Players.Count</p>
                        </div>
                    }

                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@team.Id">Details</a>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@team.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@team.Id">Delete</a>
                </div>
            </div>
        </div>
    </div>
}