@model Team

@{
    ViewData["Title"] = "Details";
}

<style>

.hidden{
    display: none;
}
.action-icon{
margin-left:20px;
margin-right: 20px;
font-size: 2rem; 
}

</style>
<div class="container d-flex justify-content-end align-items-center m-3">
    <a class="action-icon" asp-controller="Teams" asp-action="Edit" asp-route-id="@Model.Id">
        <i class="bi bi-pencil-square" style="color: blue;"></i>
    </a>
    <a class="action-icon" asp-controller="Transfers" asp-action="Index" asp-route-playerid="@Model.Id">
        <i class="bi bi-binoculars" style="color:green"></i>
    </a>
    <a class="action-icon" asp-controller="Teams" asp-action="Delete" asp-route-id="@Model.Id">
        <i class="bi bi-person-dash" style="color: red;"></i>
    </a>
</div>

<!--DETAILS-->
<div class="card mt-2 mb-2">
    <div class="card-header d-flex justify-content-between align-items-center bg-light" id="details-header">
        <h3>Details</h3>
        <div id="arrow-container">
            <i class="hidden bi bi-arrow-up" style="font-size: 1.5rem"></i>
            <i class="bi bi-arrow-down" style="font-size: 1.5rem"></i>
        </div>
    </div>
    <div class="card-body" id="details-body" style="display: block">
        <!-- Team information -->
        <a class="action-icon d-flex justify-content-end" asp-controller="Players" asp-action="Edit" asp-route-id="@Model.Id">
            <i class="bi bi-pencil-square" style="color: blue;"></i>
        </a>
        <div class="row text-center">
            @if (!string.IsNullOrEmpty(Model.LogoPath))
            {
                <div class="col col-sm-12 col-md-12 col-lg-6 p-2 d-flex flex-column justify-content-center align-items-center">
                    <h6>Current team</h6>
                        <img src="@("~/uploads/teams/logos/" + Model.LogoPath)" asp-append-version="true" class="w-75 rounded">
                        <h3 class="mt-2 mb-2">@Model.Name</h3>
                </div>
            }
            
            <div class="col col-sm-12 col-md-12 col-lg-6 p-2 ">
                <h6>Details about team</h6>

                <hr class="w-50 mx-auto"/>

                <div id="name">
                    <span class="badge bg-secondary p-2 mb-2">Team name</span>
                    <h4>@Model.Name</h4>
                </div>

                <hr class="w-75 mx-auto"/>

                <div id="city">
                    <span class="badge bg-secondary p-2 mb-2">City of team</span>
                    <h4>@Model.City</h4>
                </div>

                <hr class="w-75 mx-auto"/>

                <div id="email">
                    <span class="badge bg-secondary p-2 mb-2">Email</span>
                    <h4>@Model.Email</h4>
                </div>

                <hr class="w-75 mx-auto"/>

                <div id="phonenumber" class="text-center">
                    <span class="badge bg-secondary p-2 mb-2">Phone number</span>
                                        <h4>@Model.PhoneNumber</h4>
                </div>

                <hr class="w-75 mx-auto"/>

            </div>
        </div>
        <!-- Player information -->
    </div>
</div>

@if (Model.Players != null)
{
    <!--TEAM PLAYERS-->
    <div class="card mt-2 mb-2">
        <div class="card-header d-flex justify-content-between align-items-center bg-light" id="teamplayers-header">
            <h3>Team's players</h3>
            <div id="arrow-container">
                <i class="hidden bi bi-arrow-up" style="font-size: 1.5rem"></i>
                <i class="bi bi-arrow-down" style="font-size: 1.5rem"></i>
            </div>
        </div>
        <div class="card-body" id="teamplayers-body" style="display: block">
            <!-- Players -->
            @if (Model.Players.Any())
            {
                <div class="row text-center">
                    @foreach (var player in Model.Players)
                    {
                        @if (player.Id == Model.Id)
                        {
                            <div class="col col-sm-12 col-md-6 col-lg-4 col-xl-3" style="pointer-events:none;opacity:0.6">
                                <partial name="Partials/_PlayerCardPartial" model="@player"/>
                            </div>
                        }
                        else
                        {
                            <div class="col col-sm-12 col-md-6 col-lg-4 col-xl-3">
                                <partial name="Partials/_PlayerCardPartial" model="@player"/>
                            </div>
                        }
                    }

                </div>
            }
            else
            {
                <h3>Team is empty!</h3>
            }

        </div>
    </div>
}

<!--TRANSFERS-->
<div class="card mt-2 mb-2">
    <div class="card-header d-flex justify-content-between align-items-center bg-light" id="transfers-header">
        <h3>Transfer history</h3>
        <div id="arrow-container">
            <i class="hidden bi bi-arrow-up"></i>
            <i class="bi bi-arrow-down"></i>
        </div>
    </div>

    <div class="card-body" id="transfers-body" style="display: none;">
        <!-- Player transfer history -->

        @if (Model.Transfers.Any())
        {
            <section class="py-5">
                <ul class="timeline-with-icons">
                    @foreach (var transfer in Model.Transfers.OrderByDescending(t => t.History).ToList())
                    {
                        <li class="timeline-item mb-5">
                            <span class="timeline-icon">
                                <img class="w-100 rounded" src="~/uploads/teams/logos/@transfer.Team.LogoPath" alt="team' logo"/>
                            </span>

                            <h5 class="fw-bold">@transfer.Team.Name</h5>
                            <p class="text-muted mb-2 fw-bold">@transfer.History.ToShortDateString()</p>
                            <p class="text-muted">
                                asdőpsődpsld
                            </p>
                        </li>

                        <hr/>
                    }
                </ul>
            </section>
        }
        else
        {
            <h3>No transfers found.</h3>
            <a asp-controller="Transfers" asp-action="Index">Add new transfer</a>
        }

        <!-- Player transfer history -->
    </div>
</div>


@section Scripts{
    <script>
    $(".card").find(".card-header").click(function() {
        let $arrows = $(this).find("i");
        $(this).parent().find(".card-body").slideToggle(function (){
            $arrows.toggle();
            });
    });
   </script>
}