@model Player

<style>
    .bi-bookmark-check-fill{
    color:green;
font-size: 1.3em;
margin-left: 0.5em;
    }
     
    .bi-bookmark-dash-fill{
    color:red;
    font-size: 1.3em;
    margin-left: 0.5em;
    }
    .inactive-player-card{
    pointer-events:none;
    opacity:.6;
    }
    .player-card{
       border-width:3px;
       border-style: solid;
    }
    .player-card-bad-rating{
        border-color:red;
    }
    .player-card-avg-rating{
            border-color:orange;
        }
        .player-card-good-rating{
                border-color:green;
            }
            .player-card-exc-rating{
                    border-color:blue;
                }
</style>

@{
    var nat = Model.Nationality[..2].ToLower();
    string mode = ViewData["viewmodel"] as string ?? string.Empty;
    bool activity = !Model.IsActive;
    var playerRating = PlayerFunctions.GetOverallRating(Model);

    string getPlayerCardBColor(int rating)
    {
        if (playerRating <= 35) return "player-card-bad-rating";
        if (playerRating <= 50) return "player-card-avg-rating";
        if (playerRating <= 75) return "player-card-good-rating";
        return "player-card-exc-rating";
    }
}

<div class="row player-card @(getPlayerCardBColor(playerRating)) @(Model.IsActive ? "inactive-player-card" : "")">
    <span class="p-1">
        <strong>@(Model.IsActive ? "Active" : "Inactive")</strong>
        @if (Model.IsActive)
        {
            <i class="bi bi-bookmark-check-fill "></i>
        }
        else
        {
            <i class="bi bi-bookmark-dash-fill"></i>
        }
    </span>
    <strong class="text-center m-1">@Model.FullName</strong>
    
    <strong id="playerrating" class="m-1">@playerRating</strong>

    <p class="m-1"> @Model.Position?.Pos</p>
    
    <img
        src="https://flagcdn.com/96x72/@(nat).png"
        width="32"
        height="24"
        alt="@Model.Nationality"
        class="m-1">

</div>